 .u-section-1 {
  min-height: 200px;
}

.u-section-1 .u-image-1 {
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.1);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 750ms;
  font-size: 3rem;
  text-align: center;
  text-transform: none;
  margin: -126px auto 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 548px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 772px;
  margin: 29px auto 0;
}

.u-section-2 .u-list-1 {
  width: 631px;
  margin: 61px -3px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-text-2 {
  text-align: left;
  margin: -32px 85px 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 473px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 995px;
}

.u-section-3 .u-text-1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 772px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 631px;
  margin: 67px -3px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: -37px 0 0 430px;
}

.u-section-3 .u-image-1 {
  width: 356px;
  height: 269px;
  object-position: 0% 100%;
  margin: -311px auto 0 33px;
}

.u-section-3 .u-text-3 {
  text-align: left;
  margin: 53px 0 0 430px;
}

.u-section-3 .u-image-2 {
  width: 356px;
  height: 446px;
  object-position: 0% 50%;
  margin: -490px auto 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-list-1 {
    width: 473px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -22px;
    margin-right: -34px;
    margin-left: 264px;
  }

  .u-section-3 .u-image-1 {
    width: 231px;
    height: 323px;
    margin-top: -323px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: -34px;
    margin-left: 264px;
  }

  .u-section-3 .u-image-2 {
    width: 231px;
    margin-top: -470px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1669px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-3 .u-image-1 {
    width: 443px;
    height: 269px;
    margin-top: 0;
    margin-right: 124px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 33px;
    margin-right: 45px;
    margin-left: 75px;
  }

  .u-section-3 .u-image-2 {
    width: 416px;
    height: 226px;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-bottom: 55px;
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 256px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-left: auto;
  }
}